<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="true">

    <description>Tasks</description>

    <!-- 配置定时器的线程池并设置线程数的初始大小-->
    <task:scheduler id="scheduler" pool-size="250" />
    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="emptyTableService" method="emptyTable" cron="${empty.historic_table.cron}"/>
        <task:scheduled ref="scheduledForTaskData" method="updateTickTime" cron="${scheduled.for.update_ticktime}"/>
        <task:scheduled ref="scheduledForTaskData" method="scanTaskDataAndExecuteTaskIfSomebodyDown" cron="${scheduled.for.scan.taskdata}"/>
    </task:scheduled-tasks>

    <!-- spring的线程池技术：继承了threadPoolExecutor -->
     <bean id="etlThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
         <!-- 线程池核心线程的数量 -->
         <property name="corePoolSize" value="${etlThreadPool.corePoolSize}" />
         <!-- 空闲线程的存活时间 -->
         <property name="keepAliveSeconds" value="${etlThreadPool.keepAliveSeconds}" />
         <!-- 线程池维护线程的最大数量 -->
         <property name="maxPoolSize" value="${etlThreadPool.maxPoolSize}" />
         <!-- 缓存队列 -->
         <property name="queueCapacity" value="${etlThreadPool.queueCapacity}" />
         <!-- 对拒绝task的处理策略 AbortPolicy：处理程序遭到拒绝将抛出运行时 RejectedExecutionException-->
         <property name="rejectedExecutionHandler">
             <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
         </property>
     </bean>

</beans>