<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:property-placeholder
            location="classpath:*.properties,file:/usr/local/xinsight/common/conf/*.properties,file:/usr/local/xinsight/etl/conf/*.properties"
            ignore-unresolvable="true" file-encoding="UTF-8"/>

    <context:component-scan base-package="com.baosight">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <cache:annotation-driven cache-manager="cacheManager" proxy-target-class="false"/>

    <!-- cache manager -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>

    <!-- 采用EhCache-->
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache/ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!--初始化kettle环境-->
    <bean id="initKettleEnvironment" class="com.baosight.etl.config.InitKettleEnvironment"></bean>

    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--&lt;!&ndash; <property name="maxIdle" value="6"></property>-->
        <!--<property name="minEvictableIdleTimeMillis" value="300000"></property>-->
        <!--<property name="numTestsPerEvictionRun" value="3"></property>-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="60000"></property> &ndash;&gt;-->

        <!--<property name="maxIdle" value="6"/>-->
        <!--<property name="minEvictableIdleTimeMillis" value="300000"/>-->
        <!--<property name="numTestsPerEvictionRun" value="3"/>-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="60000"/>-->
    <!--</bean>-->

    <!--<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" destroy-method="destroy">-->
        <!--<property name="poolConfig" ref="jedisPoolConfig"/>-->
        <!--<property name="hostName" value="168.2.9.63"/>-->
        <!--<property name="port" value="6379"/>-->
        <!--<property name="timeout" value="15000"/>-->
        <!--<property name="usePool" value="true"/>-->
    <!--</bean>-->

    <!--<bean id="jedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">-->
        <!--<property name="connectionFactory" ref="jedisConnectionFactory"/>-->
        <!--<property name="keySerializer">-->
            <!--<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>-->
        <!--</property>-->
        <!--<property name="valueSerializer">-->
            <!--<bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean name="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">-->
        <!--<constructor-arg ref="jedisTemplate"/>-->
    <!--</bean>-->


    <import resource="classpath:spring/framework/applicationContext-myBatis.xml"/>
    <import resource="classpath:spring/framework/applicationContext-shiro.xml"/>
    <import resource="classpath:spring/framework/applicationContext-redis.xml"/>
    <import resource="classpath:spring/framework/applicationContext-task.xml"/>
</beans>